<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
        {{ hi }} Rabee
        your journey starts in:..
         <h1 id="add"> </h1>
         Enter your message here
        <input id='input' type="text" value="">
        <button onclick=sendmessage()>Send</button>

    {% endblock content%}
    <script>
        var socket = new WebSocket("ws://localhost:8000/chat/")

        socket.onopen = function(e){   
            console.log("connection has been established to webserver");
         
           
        }

        

        socket.onmessage =  function(e){
            console.log(e.data);
            document.getElementById("add").innerHTML=e.data;
        }

        socket.onclose = function(e){
            console.log("connection has been closed");
            console.log(e);
        }
        

        function sendmessage(){
            a=document.getElementById("input").value;
            socket.send(a)
            

        }
        

        
    </script>
</body>
</html>